{% extends 'base.html' %}

{% block head %}
    <title>Menu Items</title>
{% endblock %}

{% block body %}
    <h2>Menu Items will be listed here</h2>
    <a href="{% url 'add-menu-item' %}">Add Menu Item</a>
     <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </thead>
        {% for item in items %}
            <tr>
                <td>{{ item.pk }}</td>
                <td>{{ item.name }}</td>
                <td>${{ item.price}}</td>
                 <td><a href="{% url 'menu-item-ingredient-list' pk=item.pk%}">Recipe</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}